# 11- Model Inference

## Load Model

In [3]:
# Load the Models

import pickle
import json
import pandas as pd
import numpy as np
import pickle
from tensorflow.keras.models import load_model

with open('final_pipeline.pkl', 'rb') as file_1:
  model_pipeline = pickle.load(file_1)

with open('list_num_cols (2).txt', 'r') as file_2:
  list_num_cols = json.load(file_2)

with open('list_cat_cols (2).txt', 'r') as file_3:
  list_cat_cols = json.load(file_3)

model_ann = load_model('churn_model.h5')

In [7]:
data_inf = {
    'joining_date': '2017-02-11', 
    'last_visit_time': '2023-03-30T15:44:56.000000000', 
    'avg_transaction_value': 7665.66, 
    'avg_frequency_login_days': 5.0,
    'points_in_wallet': 575.97, 
    'feedback': 'Too many ads', 
}

data_inf = pd.DataFrame([data_inf])
data_inf

,joining_date,last_visit_time,avg_transaction_value,avg_frequency_login_days,points_in_wallet,feedback
0,2017-02-11,2023-03-30T15:44:56.000000000,7665.66,5.0,575.97,Too many ads

In [8]:
# Split between Numerical Columns and Categorical Columns

data_inf_num = data_inf[list_num_cols]
data_inf_cat = data_inf[list_cat_cols]
data_inf_num

   avg_transaction_value  avg_frequency_login_days  points_in_wallet
0                7665.66                       5.0            575.97

In [9]:
# Transform Inference-Set

data_inf_transform = model_pipeline.transform(data_inf)
data_inf_transform

array([[-1.11231926, -1.01740016, -0.17578108,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ]])

In [10]:
# Predict using Neural Network

y_pred_inf = model_ann.predict(data_inf_transform)
y_pred_inf = np.where(y_pred_inf >= 0.5, 1, 0)
y_pred_inf

1/1 [==============================] - 0s 355ms/step

array([[1]])

dapat disimpulkan bahwa, data inference masuk ke dalam class 1 yg artinya churn

# Pengambilan Kesimpulan

- Dari hasil evaluasi model setelah dilakukan improvement, terlihat bahwa baik model Sequential API maupun model Functional API mengalami peningkatan performa dengan nilai precision, recall, dan f1-score yang lebih baik. Namun, model Functional API memiliki performa yang sedikit lebih tinggi dibandingkan dengan model Sequential API. maka model dapat memprediksi dengan baik antara class 0 (no churn) dan class 1(no churn) dan jika perusahaan ingin memberikan diskon kepada seorang customer yg beresiko berhenti memakai produk yg ditawarkan

- karena model berfokus ke class 1, nilai recall untuk model class 0 tergolong kecil, tetapi untuk mengklasifikasi class 1 sangat baik

- model ini memiliki akurasi sebesar 86% dimana, jika ingin lebih baik lagi dalam memprediksi, maka perlu dilakukan improvisasi lagi agar dapat memprediksi dengan sangat baik

- mayoritas customer memiliki risiko churn yang rendah, namun masih ada sejumlah customer yang memiliki risiko churn yang tinggi. Dalam hal ini, perusahaan dapat memfokuskan upaya retensi pada customer, sementara tetap memberikan pelayanan yang baik dan mempertahankan hubungan dengan customer lainnya agar risiko churn dapat ditekan.